# Firebase Cloud Messaging (Web Push)
VITE_FIREBASE_VAPID_KEY=

# Firebase Emulator Suite (optional overrides)
VITE_USE_FIREBASE_EMULATORS=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_EMULATOR_HOST=
VITE_FIREBASE_AUTH_EMULATOR_PORT=
VITE_FIREBASE_FIRESTORE_EMULATOR_PORT=
VITE_FIREBASE_FUNCTIONS_EMULATOR_PORT=
VITE_FIREBASE_STORAGE_EMULATOR_PORT=
