.icon {
  display: inline-block;
  color: var(--color-text);
}

.icon--muted {
  color: var(--color-text-light);
}

.icon--primary {
  color: var(--color-primary);
}

/* Ensure SVGs inherit color */
.icon svg, .notification-icon svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* Size utility */
.icon--large {
  width: 48px;
  height: 48px;
}
